<div class="page">
  <h1 mat-dialog-title>Edit Product</h1>
  <h2>Product ID:{{productOption?.id}}</h2>

  <div class="formWrapper">
    <form class="form" *ngIf="productOption" [formGroup]="form" novalidate="true" (submit)="save()">
      <div class="fields">
        <p class="note">*Name is belong to all product options.
          Changing it will affect all options
        </p>

        <mat-form-field class="field " appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error [innerHtml]="validatorMessages.required('Name')"
            *ngIf="name.errors && name.errors['required'] && name?.touched">
          </mat-error>
          <mat-error *ngIf="name.errors && name.errors['minlength'] && name?.touched">
            Name must contain at least two characters
          </mat-error>
          <mat-error *ngIf="name.errors && name.errors['maxlength'] && name?.touched">
            Name max length is 50 characters
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Preview Imag Url</mat-label>
          <input type="url" matInput formControlName="previewImgUrl">
          <mat-error [innerHtml]="validatorMessages.required('Preview Img Url')"
            *ngIf="previewImgUrl.errors && previewImgUrl.errors['required'] && previewImgUrl?.touched">
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Price</mat-label>
          <input min=1 type="number" matInput formControlName="price">
          <mat-error [innerHtml]="validatorMessages.required('Price')"
            *ngIf="price.errors && price.errors['required'] && price?.touched">
          </mat-error>
          <mat-error *ngIf="price.errors && price.errors['min'] && price?.touched">
            Price must be number greater than 1
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Quantity</mat-label>
          <input type="number" matInput formControlName="quantity">
          <mat-error [innerHtml]="validatorMessages.required('Quantity')"
            *ngIf="quantity.errors && quantity.errors['required'] && quantity?.touched">
          </mat-error>
          <mat-error *ngIf="quantity.errors && quantity.errors['pattern'] && quantity?.touched">
            Quantity must be an integer
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <select matNativeControl formControlName="colorId">
            <option [ngValue]="null" disabled>Select Color</option>
            <option *ngFor="let color of colors" [ngValue]="color.id" selected>{{color.name}}</option>
          </select>
          <mat-error [innerHtml]="validatorMessages.required('Color')"
            *ngIf="colorId.errors && colorId.errors['required'] && colorId?.touched">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button class="saveBtn" type="submit">Save</button>
        <button class="cancelBtn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
