.page {
  width: 100%;
  height: 100%;
}

.errorCode {
  font-size: 60px;
  color: rgb(242, 180, 35);
  padding-bottom: 26px;
}

.box {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errormessage {
  color: gray;
  text-align: center;
}

h3 {
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: rgb(16, 133, 243);
  font-size: 14;
}
